@model IList<CheeseMVC.Models.Cheese>

<div class="cheese">
    <h1>@ViewBag.Title</h1>
    <span class="error"><h6>@ViewBag.Error</h6></span>
</div>

<table class="cheese">

    <tr>
        <th>Name</th>
        <th class="description">Description</th>
        <th>Category</th>
    </tr>

    @foreach (var cheese in Model)
    {
        <tr>
            <td>@cheese.Name</td>
            <td>@cheese.Description</td>
            <td>@cheese.Category.Name</td>
        </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p class="cheese">No cheeses yet!</p>
}

<p class="cheese"><strong><a asp-controller="Cheese" asp-action="Add">Add</a></strong> | <a asp-controller="Cheese" asp-action="Remove">Remove</a></p>
